<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista Produtos</title>
</head>

<body>
    {% include 'registro/base.html' %}
    <h1>Lista de Produtos</h1>
    <h6>listaProdutos.html</h6>
    <table>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Qtd</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>{{produto.preco }}</td>
            <td>{{ produto.qtd }}</td>
        </tr>
        {% empty %}
        <tr>
            <th colspan="5">Não existem produtos disponíveis</th>
        </tr>
        {% endfor %}
    </table>
</body>

</html>