{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apaga Produto</title>
    <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
    
</head>
<body>
  {% include 'baseCRUD.html' %}
  <h1>Remoção de Produto</h1>
  <form method="POST">
    {% csrf_token %}
   Confirma a remoção de {{ produto }}?<br>
   <button>
       <a href="{% url 'sec-secreta-read' %}" 
          style="text-decoration: none; color: black;">Cancela</a>
   </button>
   <input type="submit" value="Remove">
</form>
</body>
</html>