{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet"href="{% static 'css/estilo.css' %}">
</head>
<body>    
    <h1>INF1407 T2</h1>
    <div>
        <a href="/">Homepage</a> 
        |<a href='{% url "sec-secreta-read" %}'>Visualizar Produtos</a>
        |<a href='{% url "sec-secreta-create" %}'>Cadastro de Produtos</a> |
        |<a href='{% url "sec-logout" %}'>LogOut</a>
    | Você é {% firstof user.username "visitante" %}
    </div>
    <hr>
    {% block conteudo %}{% endblock %}
</body>
</html>